### Dependencies

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from config import username, password
%matplotlib inline

from sqlalchemy import create_engine

engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/sql_challenge')
connection = engine.connect()

ImportError: cannot import name 'username' from 'config' (/opt/anaconda3/lib/python3.8/site-packages/config/__init__.py)

### Import the Employees table

In [ ]:
employees = pd.read_sql('select * from employees', connection, parse_dates=['birth_date', 'hire_date'])

In [ ]:
employees.head()

### Import the Departments table

In [ ]:
departments = pd.read_sql('select * from departments', connection)

In [ ]:
departments.head()

### Import the Salaries table

In [ ]:
salaries = pd.read_sql('select * from salaries', connection)

In [ ]:
salaries.head()

### Import the Department Manager table

In [ ]:
dept_manager = pd.read_sql('select * from dept_manager', connection)

In [ ]:
dept_manager.head()

### Import the Titles table

In [ ]:
titles = pd.read_sql('select * from titles', connection)

In [ ]:
titles.head()

### Average salary by title

#### Create a merged dataframe of salaries

In [ ]:
employee_salaries = employees.merge(salaries, on='emp_no')

In [ ]:
employee_salaries.head()

#### Create a merged dataframe of titles

In [ ]:
employee_title_salaries = employee_salaries.merge(titles, left_on='emp_title_id', right_on='title_id')

In [ ]:
employee_title_salaries.head()

#### Select titles and salaries

In [ ]:
title_salaries = employee_title_salaries[['title', 'salary']]

In [ ]:
title_salaries.head()

#### Find average salary per title

In [ ]:
title_salaries.groupby('title')['salary'].mean().round(2)

#### Create graphs

In [ ]:
title_salaries.hist(column='salary')
plt.xlabel("Salary Ranges")
plt.ylabel("Frequency")

In [ ]:
employees_grouped_by_title = title_salaries.groupby(['title'])['salary'].mean()

employees_grouped_by_title.plot.bar()
plt.xlabel("Job Title")
plt.ylabel("Average Salary")

In [ ]:
# Close connection to database
connection.close()